
h1{
    margin-left: 60px;
    text-shadow: 2px 1px 5px gray;
}

h4{
    margin-left: 60px;
}

#todaysPic{
    margin-left: 60px;
}

#displayDate{
    text-align: center;
    font-weight: bold;
}

#title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 1px 5px gray;  
}

#content{
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#pic {
    text-align: center;
}

.button{
    text-align: center;
    margin-left: 30;
    margin-right: 30;
}

.buttonStyle{
    color: black;
    background-color:lightgray;
    border-color: rgb(128, 55, 0);
    border-width: 1.5px;
    font-style: italic;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 gray, 0 6px 20px 0 gray;
}

.buttonStyle:active{
    background-color: rgb(95, 117, 134);
    font-weight: bold;
}

#showDescriptionButton {
    text-align: center;
    visibility: hidden;
    font-style: italic;
}

#content{
    display: '';

}

#Description{
    color: black;
    background-color:lightgray;
    border-color: rgb(128, 55, 0);
    border-width: 1.5px;
    font-style: italic;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 gray, 0 6px 20px 0 gray;
}

@media  (max-width: 760px) {
    
    #content{
        display: none;
        
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }
    .videowrapper{
        max-width: 100%;
        max-height: 100%;
    }

    h1{
        text-align: center;
        margin-left: auto;
        text-shadow: 2px 1px 5px gray;
    }
    
    h4{
        text-align: center;
        margin-left: auto;
    }

    #title{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 2px 1px 5px gray;  
    }

    #showDescriptionButton {
        text-align: center;
        visibility: visible;
    }
    
}

@media  (max-width: 760px) {
    
    #content{
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
}
